<strong>Recuperar senha</strong>

<p>Seu merda, tá ai teu token e url pra mudar de senha! ({{ email }})</p>

<p>Presta atenção: {{ token }} <strong>Cuzão</strong></p>

<p>a porra da url: {{ redirect_url }}  </p>

<a href="{{ link }}">Criar nova senha</a>
